<%-include('partials/header')%>
    <h1> Welcome <%=username%></h1>
    <a href="/logout">Log Out</a>

    <div className="physicaltherapists">
        <h2>Physical Therapists Near You:</h2>
        <ul>
            <% for( let i=0; i < phystherapists.length; i++ ) { %>
                <li>
                    <%=phystherapists[i].name%>
                </li>
                <% } %>
        </ul>
    </div>
    <div className="midwives">
        <h2>Midwives Near You:</h2>
        <ul>
            <% for( let i=0; i < midwives.length; i++ ) { %>
                <li>
                    <%=midwives[i].name%>
                </li>
                <% } %>
        </ul>
    </div>
    <div className="psychologists">
        <h2>Psychologists Near You:</h2>
        <ul>
            <% for( let i=0; i < psychologists.length; i++ ) { %>
                <li>
                    <%=psychologists[i].name%>
                </li>
                <% } %>
        </ul>
    </div>
    <div className="ppdvideo">
        <h3><%=ppdvideoinfo[0].snippet.title%></h3>
        <p><%=ppdvideoinfo[0].snippet.description%></p>
        <p>from channel: <%=ppdvideoinfo[0].snippet.channelTitle%></p>
        <iframe id="ppdvideo" src="https://www.youtube.com/embed/<%=ppdvideoIds[0]%>"></iframe>
        <button id="ppdvideowatched" class=<%=username%>> click when watched</button> 
        <button id="ppdvideosaved" class=<%=username%>> click when watched</button> 
    </div>


    

    <%-include('partials/footer')%>